* {
    color: #afafaf;
}

.title {
    color: #ffafaf;
    font-weight: bold;
    underline: double;
}

.text {
    color: #cfcfcf
}

.row-name {
    color: #ffffaf;
    font-weight: normal;
}

.col-name {
    color: #afffaf;
}
